.conjunto{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.biografia{
    padding: 20px;
    max-width: 600px;
    flex-wrap: wrap;
}
.biografia p{
    font-size: 20px;
    text-align: justify;   
    text-indent: 10px;
    font-weight: 400;
}

.biografia ul{
    display: flex;
    padding: 10px;
}

.biografia ul li{
    padding: 10px;
    font-size: 30px;
}

.foto-perfil{
    padding: 10px;
}

.foto-perfil img{
    border-radius: 15px;
    border: solid 2px black;
    box-shadow: 5px 5px 22px black;
}

@media (max-width: 1000px){ 

    .biografia h1{
        font-size: 20px;
    }
    .biografia p {
        font-size: 15px;
    }
    .biografia ul li{
        font-size: 20px;
    }
}